@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
   font-family: "poppins", sans-serif ;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   /*Dark mode colors*/
    --text-color:white;
   --subheading-color: #828282;
   --placeholder-color: #fdfafa;
   --primary-color: #000000;
   --secondary-color: #3c3e41;
   --secondary-hover-color: #444;
   --recent-color:rgb(95, 98, 101);
}
.gemini{
   margin-left: 40%;
   margin-top: 10%;
   user-select: none;
   
}

.light_mode{
   /*Light mode colors*/
   --text-color:#222;
   --subheading-color: #A0A0A0;
   --placeholder-color: #6C6C6C;
   --primary-color: #FFF;
   --secondary-color: #E9EEF6;
   --secondary-hover-color: #DBE1EA;
}


body{
   background: var(--primary-color) ;
}

.typing-area{
color: var(--text-color);
}

 .title{
   margin-left: 1rem;
   font-size: 2.7rem;
   display: flex;
   align-items: center;
   justify-content: center;
   user-select: none;
   margin-top: 3rem;
   background-clip: text;
   width: fit-content;
   background: linear-gradient(to right, #6196eb , #e91b97);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}


.chat-list .message, .typing-form{
   max-width: 1000px;
   margin: 0 auto;
}

 
.title{
   margin-left: 35%;
   font-size: 1.4rem;
   background-clip: text;
   width: fit-content;
   margin-top: 5%;
   background: linear-gradient(to right, #4269e9 , #f159aa);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
} 
body .hide-header .header{
 display: none;

}
.subtitle{
   font-size: 15px;
   color: var(--subheading-color);
   margin-left: 30%;
   margin-top: 2%;
   margin-bottom: 60px;
   user-select: none;
}
/* 
.header :where(.title, .subtitle){
   font-weight: 500;
   line-height: 3.6rem;
} */

/* 
.typing-area .gemini1{
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
margin-top: -40%;
margin-left:40px;
} */
.chat-list{
   scrollbar-color: #62a3e8 transparent;
 scroll-behavior: smooth; 
 width: 90%;
 /* height: 200px; */
 margin-left: 7.50%;
 margin-bottom: 20%;
 }
.chat-list .message.incoming{
   margin-top:30px;
   /* margin-bottom: 500px; */
}

.chat-list .message .message-content{
display: flex;
gap: 1rem;
width: 100%;
align-items: center;
}
 .chat-list .message .avatar{
   width: 20px;
   height: 20px;
   object-fit: cover;
   align-self: flex-start;
   border-radius: 50%;
}
.chat-list .message.loading .avatar{
   animation: rotate 2s linear infinite;
}

@keyframes rotate {
   100%{
      transform: rotate(360deg);
   }
}



.chat-list .message .text{
   color: var(--text-color);
   position: relative;
   /* margin-left: 10%; */
   gap: 0.2;
}

.chat-list .message.loading .text{
   display: none;
}
.chat-list .message .icon{
   height: 40px;
   width: 40px;
   bottom: 10px;
   cursor: pointer;
   margin-left: 0.40rem;
   font-size: 1rem;
   background: var(--secondary-color);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   color: var(--text-color);
   visibility:hidden;
}
.chat-list .message:not(.loading):hover .icon:not(.hide){
   visibility: visible;
}
.chat-list .message .icon:hover{
   background: var(--secondary-color);
}
.chat-list .loading-indicator{
   display: none;
   width: 100%;
   flex-direction: column;
   gap: 0.4rem;
}

.chat-list .message.loading .loading-indicator {
   display: flex;
   height: 20px;
   margin-top: 20px;
}
.chat-list .loading-indicator .loading-bar{
   height: 20px;
   margin-top: 10%;
   display: flex;
   justify-content: center;
   position: absolute;
   border-radius: 0.14rem;
   bottom: 60%;
   /* padding-bottom: 20%; */
   width: 40%;
   background: linear-gradient(to right, #206be4, var(--primary-color), #2a20ea);
   animation: animate 3s linear infinite;
}

.chat-list .loading-indicator .loading-bar:last-child{
   width: 20%;
}



@keyframes animate{
   0%{
      background-position: -800px 0;
   }

   100%{
      background-position: 800px 0;
   }
}


.typing-area{
   position: fixed;
   width: 60%;
   margin-left: 24%;
   display: flex;
   align-items: center;
   /* justify-content:space-evenly; */
   align-content: center;
   justify-items: center;
   bottom: 13px;
   background-color: red;
   height: 8%;
   background: var(--primary-color);

}
.typing-area .input-wrapper{
   height: 40px;
   width: 80%;
   margin-top: 28%;
   display: flex;
}
.typing-area .typing-input{
   width: 100%;
   background: var(--secondary-color);
   border: none;
   outline: none;
   font-size: 0.79rem;
   border-radius: 6.2rem;
   color: var(--text-color);
   padding: 1.1rem 4rem 1.1rem 1.5rem;
}

.typing-area :where(.typing-form, .action-buttons){
  display: flex;
  flex-direction: column;
  margin-top: -20%;
position: absolute;
  gap: 1rem;
}
.typing-area .icon{
   background: var(--secondary-color);
   height: 36px;
   width: 36px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   cursor: pointer;

}
.typing-area .icon:hover{
   background: var(--secondary-hover-color)!important;

}

   .typing-area .input-wrapper .typing-input:valid~ .icon{
      transform: scale(1);
      /* margin-left: 40px; */
   }

.typing-area .typing-input::placeholder{
   color: var(--placeholder-color);
}

.typing-area .typing-input:focus{
   background: var(--secondary-hover-color);
 }
.action{
   position:absolute;
   /* height: 300px; */
   width: 60%;
   z-index: 1000;
}

#toggle-theme-button{
   position: absolute;
   text-align: center;
   align-content: center;
   width: 40px;
   color:blue;
   font-size: 30px;
   border-radius: 40px;
   height: 40px;
   background-colorsilver;
   /* z-index: 1000; */
   /* margin-top: -11%; */
   margin-left: -24%;
}


#delete-chat-button{
   position: absolute;
   /* text-align: center;
   align-content: center; */
   width: 40px;
   color:red;
   justify-items: center;
   font-weight: bold;
   border-radius: 40px;
   height: 40px;
   background-color:red;
   z-index: 1000;
   margin-left: 82%;
}

#text{
   position: absolute;
   margin-top: 11px;
   margin-left: 2px;
   font-size: 11px;
}
button{
   position: absolute;
   margin-left: 102%;
   width: 50px;
   height: 50px;
   color: rgb(17, 17, 226);
   border: none;
}